:root{
--primary:#8C5CFB;
--secondary :#AD9EFB;
--accent: #FB9291;
--dark: #1C1D32;
--light: #ffffff;
} 

$primary :var(--primary);
$secondary:var(--secondary);
$accent:var(--accent);
$dark:var(--dark);
$light:var(--light);
$gap: 15px;
$logowidth:50px;

$font-main: 'Montserrat', sans-serif;
$font-title: 'Playfair Display', serif;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px; 
$extraLarge: 1900px;
@mixin sm {
  @media (min-width:$sm) {
    @content
  }
}; 
@mixin md {
  @media (min-width:$md) {
    @content
  }
}; 
@mixin lg {
  @media (min-width:$lg) {
    @content
  }
}; 
@mixin xl {
  @media (min-width:$xl) {
    @content
  }
}; 
@mixin xxl {
  @media (min-width:$xxl) {
    @content
  }
};
@mixin extraLarge {
  @media (min-width:$extraLarge) {
    @content
  }
};
  