<section class="form-section" id="form-section">
    <div class="container">
        <h2>Are you ready to <span>work with us?</span></h2>
        <p class="form-section-text">Fill out the form below and a member of our team will be in touch soon.</p>
        <div class="wpforms-container wpforms-container-full custom-form">
            <form id="wpforms-form-37" class="wpforms-validate wpforms-form wpforms-ajax-form" data-formid="37" method="post" enctype="multipart/form-data" action="/wordpress/" data-token="e9113978e1c62dc46b50f539a68dc2c1"
                novalidate="novalidate">
                <noscript class="wpforms-error-noscript">Please enable JavaScript in your browser to complete this form.</noscript>
                <div class="wpforms-field-container">
                    <div id="wpforms-37-field_5-container" class="wpforms-field wpforms-field-name" data-field-id="5">
                        
                        <div class="wpforms-field-row wpforms-field-large">
                            <div class="wpforms-field-row-block wpforms-first wpforms-one-half">
                                <input type="text" id="wpforms-37-field_5" class="wpforms-field-name-first wpforms-field-required" name="wpforms[fields][5][first]" placeholder="First Name" required="">
                                
                            </div>
                            <div class="wpforms-field-row-block wpforms-one-half">
                                <input type="text" id="wpforms-37-field_5-last" class="wpforms-field-name-last wpforms-field-required" name="wpforms[fields][5][last]" placeholder="Last Name " required="">
                                
                            </div>
                        </div>
                    </div>
                    <div id="wpforms-37-field_17-container" class="wpforms-field wpforms-field-email d-inline-form" data-field-id="17">
                        <input type="email" id="wpforms-37-field_17" class="wpforms-field-large wpforms-field-required" name="wpforms[fields][17]" placeholder="Email" required="">
                    </div>
                    <div id="wpforms-37-field_12-container" class="wpforms-field wpforms-field-name d-inline-form" data-field-id="12">
                        <input type="text" id="wpforms-37-field_12" class="wpforms-field-large" name="wpforms[fields][12]" placeholder="Mobile (optional)">
                    </div>
                    <div id="wpforms-37-field_11-container" class="wpforms-field wpforms-field-name" data-field-id="11">
                        <div class="wpforms-field-row wpforms-field-large">
                            <div class="wpforms-field-row-block wpforms-first wpforms-one-half">
                                <input type="text" id="wpforms-37-field_11" class="wpforms-field-name-first" name="wpforms[fields][11][first]" placeholder="Company Name (optional)">
                            </div>
                            <div class="wpforms-field-row-block wpforms-one-half">
                                <input type="text" id="wpforms-37-field_11-last" class="wpforms-field-name-last" name="wpforms[fields][11][last]" placeholder="Province/State">
                            </div>
                        </div>
                    </div>
                    <!-- <div id="wpforms-37-field_3-container" class="wpforms-field wpforms-field-select myinput wpforms-field-select-style-modern" data-field-id="3">
                        <div class="choices wpforms-field-row wpforms-field-medium" data-type="select-one" tabindex="0" role="listbox" aria-haspopup="true" aria-expanded="false">
                            <div class="choices__inner">
                                <select id="wpforms-37-field_3" class="wpforms-field-medium choicesjs-select choices__input choices__input--hidden wpforms-valid" data-size-class="wpforms-field-row wpforms-field-medium" data-search-enabled=""
                                    name="wpforms[fields][3]" tabindex="-1" data-choice="active" aria-invalid="false">
                                    <option value="" class="placeholder">Cannabis Company Type</option>
                                </select>
                                <div class="choices__list choices__list--single">
                                    <div class="choices__item choices__placeholder choices__item--selectable" data-item="" data-id="3" data-value="" data-custom-properties="null" aria-selected="true"
                                        data-deletable="">Cannabis Company Type
                                        <button type="button" class="choices__button" aria-label="Remove item: ''" data-button="">Remove item</button>
                                    </div>
                                </div>
                            </div>
                            <div class="choices__list choices__list--dropdown" aria-expanded="false">
                                <div class="choices__list" role="listbox">
                                    <div id="choices--wpforms-37-field_3-item-choice-1"
                                        class="choices__item choices__item--choice is-selected choices__placeholder choices__item--disabled"
                                        role="option" data-choice="" data-id="1" data-value="" data-select-text="Press to select."
                                        data-choice-disabled="" aria-disabled="true">Cannabis Company Type</div>
                                    <div id="choices--wpforms-37-field_3-item-choice-2"
                                        class="choices__item choices__item--choice choices__item--selectable" role="option"
                                        data-choice="" data-id="2" data-value="Marketing" data-select-text="Press to select."
                                        data-choice-selectable="">Marketing</div>
                                    <div id="choices--wpforms-37-field_3-item-choice-3"
                                        class="choices__item choices__item--choice choices__item--selectable is-highlighted"
                                        role="option" data-choice="" data-id="3" data-value="Research"
                                        data-select-text="Press to select." data-choice-selectable="" aria-selected="true">Research
                                    </div>
                                    <div id="choices--wpforms-37-field_3-item-choice-4"
                                        class="choices__item choices__item--choice choices__item--selectable" role="option"
                                        data-choice="" data-id="4" data-value="Just Chatting" data-select-text="Press to select."
                                        data-choice-selectable="">Just Chatting</div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div id="wpforms-37-field_13-container" class="wpforms-field wpforms-field-text" data-field-id="13">
                        <input type="text" id="wpforms-37-field_13" class="wpforms-field-large" name="wpforms[fields][13]" placeholder="Subject (optional)">
                    </div>
                    <div id="wpforms-37-field_15-container" class="wpforms-field wpforms-field-textarea" data-field-id="15">
                        <textarea id="wpforms-37-field_15" class="wpforms-field-medium" name="wpforms[fields][15]" placeholder="Message (optional)"></textarea>
                    </div>
                    <div id="wpforms-37-field_16-container" class="wpforms-field wpforms-field-checkbox" data-field-id="16">
                        <ul id="wpforms-37-field_16" class="wpforms-field-required">
                            <li class="choice-1 depth-1">
                                <input type="checkbox" id="wpforms-37-field_16_1"
                                    name="wpforms[fields][16][]"
                                    value="I agree to receive email communications from Vetrina Group., it’s affiliates, and it’s marketing partners. By checking this box I confirm that I am over the age of 19 and I understand that I can unsubscribe at anytime by emailing social@vetrinagroup.com."
                                    required="">
                                <label class="wpforms-field-label-inline" for="wpforms-37-field_16_1">I agree to
                                    receive email communications from Vetrina Group., it’s affiliates, and it’s marketing partners.
                                    By checking this box I confirm that I am over the age of 19 and I understand that I can
                                    unsubscribe at anytime by emailing social@vetrinagroup.com.</label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="wpforms-submit-container">
                    <input type="hidden" name="wpforms[id]" value="37">
                    <input type="hidden" name="wpforms[author]" value="0">
                    <input type="hidden" name="wpforms[post_id]" value="15">
                    <button type="submit" name="wpforms[submit]" class="wpforms-submit mysubmit" id="wpforms-submit-37"
                        value="wpforms-submit" aria-live="assertive" data-alt-text="Sending..."
                        data-submit-text="Submit">Submit
                    </button>
                    <img src="http://localhost/wordpress/wp-content/plugins/wpforms-lite/assets/images/submit-spin.svg"
                        class="wpforms-submit-spinner" style="display: none;" width="26" height="26" alt="">
                </div>
            </form>
        </div>
    </div>
</section>
