<div class="hero">
  <div class="hero__bg"></div>

  <div class="container hero__container">
    <div class="row">
      <div class="col-12 col-lg-7 col-xl-8 hero__content">
        <h1 class="hero__title">Retail cannabis consulting</h1>
        <p class="hero__text">We are experts in building successful cannabis retail stores</p>

        <div class="hero__wrap-btn">
          <a class="hero__btn" href="#">How we do it <span class="icons"><i class="icons-1">🌿</i><i
                class="icons-2">🔥</i></span></a>
        </div>

        <div class="hero__partners partner row">
          <div class="col-8 col-md-4">
            <div class="partners__item">
              <span class="partner__title">Licensed Cannabis Retail Managers</span>
            <div class="partner__img">
              <img src="../images/partners/partner-1.png" alt="">
            </div>
            </div>
          </div>

          <div class="col-12 col-md-7">
            <span class="partner__title">As seen in:</span>
            <div class="row">

              <div class="partner__item col-4 col-lg-3">
                <div class="partner__img">
                  <img src="../images/partners/partner-2.png" alt="">
                </div>
              </div>
              <div class="partner__item col-4 col-lg-3">
                <div class="partner__img">
                  <img src="../images/partners/partner-3.png" alt="">
                </div>
              </div>
              <div class="partner__item col-4 col-lg-3">
                <div class="partner__img">
                  <img src="../images/partners/partner-4.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>