<section class="ideas">
    <div class="container">
        <h2 class="ideas-title">Ideas</h2>
        <div class="ideas-text">We're sharing everything we know about how to build a great cannabis retail store.</div>
        <div class="ideas-cards">
            @@loop('./_ideas_item.html', [
                {img: 'images/cards/ideas-card1.png', stickerClass: 'guide', stickerText: 'Guide', title: 'How to add cookies to your website.', descr: 'Today we would like to share with you a super simple guide for adding cookies to your webflow websites.'},
                {img: 'images/cards/ideas-card2.png', stickerClass: 'blog', stickerText: 'Blog', title: 'Breakthrough solutions.', descr: 'Today we would like to share with you a super simple guide for adding cookies to your webflow websites.'},
                {img: 'images/cards/ideas-card3.png', stickerClass: 'blog', stickerText: 'Blog', title: 'Innovative results.', descr: 'Today we would like to share with you a super simple guide for adding cookies to your webflow websites.'},
            ])
        </div>
        <a href="#" class="more-link">
            more ideas
            <svg width="26" height="16" viewBox="0 0 26 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.5741 0H15.5679C17.3333 2.68497 19.5802 5.06308 22.2284 6.98091H0V8.51518H22.2284C19.5802 10.433 17.4136 12.8111 15.5679 15.4961H17.5741C19.6605 12.3508 22.6296 9.66588 26 7.74805C22.7099 5.7535 19.5802 3.22196 17.5741 0Z" fill="white"/>
            </svg>
        </a>
    </div>
</section>