<div class="col-12 col-md-6">

  <div class="news__item">
    <div class="news__item-image">
      <img src="images/cards/news-card.png" alt="news image preview">
    </div>

    <a href="post.html" target="_blank" class="news__item-title">Importance of merchandizing for cannabis retailers.</a>
    <p>#BofCLive features a conversation with Krista Raymer of Vetrina Group diving deep into the how and why of visual
      merchandizing for retailers.</p>
    <p>An important conversation given the increased density and competition among cannabis retailers.</p>
  </div>
</div>