<div class="reason-believe">
  <div class="container">
    <h2 class="reason-believe__title">Reasons to Believe</h2>

    <div class="row reason-believe__wrapper">
      <div class="col-6 col-lg-3 reason-believe__item">
        <p class="reason-believe__grad">150</p>
        <div class="reason-believe__caption">Clients coast to coast</div>
      </div>
      <div class="col-6 col-lg-3 reason-believe__item">
        <p class="reason-believe__grad">20%</span>
        <div class="reason-believe__caption">Average increase in basket size</div>
      </div>
      <div class="col-6 col-lg-3 reason-believe__item">
        <p class="reason-believe__grad">60+</span>
        <div class="reason-believe__caption">Years experience</div>
      </div>
      <div class="col-6 col-lg-3 reason-believe__item">
        <p class="reason-believe__grad">
          <svg width="39" height="64" viewBox="0 0 39 64" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M19.5 31C25.8513 31 31 25.8513 31 19.5C31 13.1487 25.8513 8 19.5 8C13.1487 8 8 13.1487 8 19.5C8 25.8513 13.1487 31 19.5 31ZM24 38.4781C32.6001 36.4467 39 28.7207 39 19.5C39 8.73047 30.2695 0 19.5 0C8.73047 0 0 8.73047 0 19.5C0 29.0747 6.90076 37.0377 16 38.6868V46H6V54H16V64H24V54H34V46H24V38.4781Z"
              fill="url(#paint0_linear)" />
            <defs>
              <linearGradient id="paint0_linear" x1="3" y1="64" x2="39" y2="64" gradientUnits="userSpaceOnUse">
                <stop stop-color="#A794FA" />
                <stop offset="1" stop-color="#8C5CFB" />
              </linearGradient>
            </defs>
          </svg>
        </p>
        <div class="reason-believe__caption">Women owned & operated</div>
      </div>
    </div>

    <div class="row reason-testimonials">
      <div class="col-12 col-sm-6 col-lg-4 reason-testimonials__item">
        @@include('./_reason-testimonial.html',{
          txt:'Krista was always looking ahead, initiating new ideas to help the company grow and thinking about the bigger picture. She would perservere until she solved any problems',
          author:'— G, Orchard'
        })
      </div>
      <div class="col-12 col-sm-6 col-lg-4 reason-testimonials__item">
        @@include('./_reason-testimonial.html',{
          txt:'Leandra’s capabilities expanded beyond leadership, notably qualifying and positionong the right talent in categories from management to operations, identifying the appropriate mentality and capabilities for each vertical of our organization',
          author:'— B, Mosses'
        })
      </div>
      <div class="col-12 col-sm-6 col-lg-4 reason-testimonials__item">
        @@include('./_reason-testimonial.html',{
          txt:'Going above and beyond to deliver optimal customer experiences and problem solving, through hand-in-hand staff training.',
          author:'— M, Harris'
        })
      </div>
    </div>
  </div>
</div>