<div class="why-choose">
  <div class="container">
    <h2 class="why-choose__title">Why Choose Vetrina Group</h2>
    <div class="why-choose__caption">
      <p>We believe the customer journey is #1. Simply put, we believe most consultants focus their attention on one
        area
        or department of the business: IT, Operations, Marketing, Branding, People, etc and recommend a
        ‘one-size-fits-all’ solution no matter who their client is.</p>
      <p>At Vetrina Group, we approach each client by first listening to their needs, dig into the data and utilize our
        expertise before presenting a strategic, effective and practical solution to their problem. </p>
      <p>We keep our eye on the big picture and derive the way forward by mapping the journey together ensuring unity
        and
        balance for not only the business but their people.</p>
    </div>

    <div class="row">
      <div class="col-12 col-lg-10 why-choose__comment">
        <p>For example, if a retailer has an issue with inventory management, VG knows it is not ONLY an inventory
          management issue. It is a cocktail of problems consisting of perhaps ordering processes, visual merchandising
          chaos and lack of sales training. We attack it as such to balance accountability, responsibility, and success
          across the organization at each touchpoint of a product’s (or customers) journey. </p>
      </div>
    </div>
  </div>
</div>