.reason-believe {
  background-color: $dark;
  color: $light;
  padding: ($gap * 2) 0;

  @include lg {
    padding: ($gap * 4) 0 ($gap * 7);
  }

  &__title {
    margin-bottom: $gap * 2;

    @include lg {
      font-size: 3.125rem;
      margin-bottom: $gap * 5;
    }
  }

  &__wrapper {
    margin-bottom: $gap * 4;

    @include lg {
      margin-bottom: $gap * 7;
    }
  }

  &__item {
    margin-bottom: $gap * 2;

    @include lg {
      margin-bottom: 0;
    }
  }

  &__grad {
    margin-bottom: $gap * 2;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    background: #A794FA;
    background: linear-gradient(90deg, #A794FA 0%, #8C5CFB 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    @include sm {
      font-size: 4rem;
    }
  }

  &__caption {
    text-align: center;
    font-weight: 600;
    line-height: 1.3;
    
    @include sm {
      max-width: 60%;
      margin: 0 auto;
    }
    @include lg {
      font-size: 1.25rem;
    }
  }
}

@import './_reason-testimonials';