<div class="hero-about">
  <div class="container">
    <div class="row jcc">
      <div class="col-12 col-lg-10 col-xl-9">
        <h1 class="hero-about__title">Vetrina Group is a Cannabis retail consultancy that specializes in making retailers and licensed producers
          profitable.</h1>

        <div class="hero-about__img">
          <img src="images/backgrounds/about-us-hero.png" alt="about us cannabis hero">
        </div>
    
        <p>
          We are experts in the customer journey, providing data driven solutions and working with teams to ensure all our
          clients achieve operational excellence.</p>
        <p> We know being a part of the Cannabis industry, with a history of inequality and injustice, is an advantage
          afforded to us by many advocates and activists that have come before us. We are thankful and committed to
          advancing the movement that destigmatizes the consumption of Cannabis along with many other great companies.
        </p>
        <p> Our mission is to help elevate and destigmatize the Cannabis industry and it’s retailers. Our solutions are
          dynamic, strategic, effective and practical ensuring our clients see value and profitability whatever stage of
          growth they are in.
        </p>
      </div>
    </div>
  </div>
</div>