<div class="partners-about">
  <div class="container">
    <h2 class="partners-about__title title-50">Our Partners</h2>

    <div class="row">
      <div class="col-6 col-md-4 partners-about__item">
        <div class="partners-about__img">
          <img src="images/partners/partner-2.png" alt="partner logo">
        </div>
      </div>
      <div class="col-6 col-md-4 partners-about__item">
        <div class="partners-about__img">
          <img src="images/partners/partner-3.svg" alt="partner logo">
        </div>
      </div>
      <div class="col-6 col-md-4 partners-about__item">
        <div class="partners-about__img">
          <img src="images/partners/partner-4.png" alt="partner logo">
        </div>
      </div>
      <div class="col-6 col-md-4 partners-about__item">
        <div class="partners-about__img">
          <img src="images/partners/partner-4.png" alt="partner logo">
        </div>
      </div>
      <div class="col-6 col-md-4 partners-about__item">
        <div class="partners-about__img">
          <img src="images/partners/partner-2.png" alt="partner logo">
        </div>
      </div>
      <div class="col-6 col-md-4 partners-about__item">
        <div class="partners-about__img">
          <img src="images/partners/partner-3.svg" alt="partner logo">
        </div>
      </div>
    </div>
  </div>
</div>