<div class="team-about">
  <div class="container">
    <h2 class="team-about__title title-50">The team</h2>
    <div class="row jcsb">
      <div class="col-12 col-md-6 col-xl-5 team-about__item">
        <div class="team-about__img">
          <img src="images/avatar/avatar-1.png" alt="avatar team member">
        </div>
        <h2 class="team-about__name">Krista Raymer</h2>
        <h3 class="team-about__position">Cannabis Retail Strategist</h3>
        <p>I am a progressive business leader with over 10 years of experience accelerating revenue and profitability
          through customer experience and operational improvement. We build retail models that result in simple
          actionable processes that delivering best in class customer experiences and sales. Through my studies and work
          experience, I have proven success managing cross-functional teams and integrating resources across
          organizations to achieve business-wide initiatives and consistency.</p>
      </div>

      <div class="col-12 col-md-6 col-xl-5 team-about__item">
        <div class="team-about__img">
          <img src="images/avatar/avatar-2.png" alt="avatar team member">
        </div>
        <h2 class="team-about__name">Leandra Reid </h2>
        <h3 class="team-about__position">Cannabis Retail Partner</h3>
        <p>I am a retail thought leader with over 20 years experience driving sales growth and profitability through
          corporate strategy and operational improvement. As a strategic thinker, I have a demonstrated ability to
          present compelling business cases and influence decisions at the executive leadership level. My critical
          thinking gives me the ability to deliver key insights and actionable recommendations through data analytics
          and innovative tools. </p>
      </div>
    </div>
  </div>
</div>