.hero {
  background-color: $secondary;
  position: relative;
  min-height: 100vh;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    min-height: 800px;
    opacity: .5;

    @include lg {
      opacity: 1;
    }
  }

  &__container {
    padding-top: 230px;
    padding-bottom: $gap * 4;
  }

  &__content {
    margin-left: auto;
    color: $light;
    text-align: center;

    @include lg {
      text-align: left;
    }
  }

  &__title, &__text {
    text-align: center;
    
    @include lg {
      text-align: left;
    }
  }

  &__title {
    margin-bottom: $gap * 2;
    @include lg {
      font-size: 3rem;
    }
    @include xxl {
      font-size: 3.75rem;
    }
  }

  &__text {
    margin-bottom: $gap * 2;
    font-weight: 500;
    font-size: 1.125rem;
    @include xxl {
      font-size: 1.5rem;;
    }
  }

  &__wrap-btn {
    display: inline-block;
    margin-bottom: 145px;
  }

  &__partners {
    justify-content: space-between;
    margin-bottom: $gap * 4;

    @include lg {
      margin-bottom: $gap * 6;
    }

    .partner {
      &__row-1 {
        margin-bottom: $gap * 2;

        @include md {
          margin-bottom: 0;
        }
      }
      &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      &__title {
        text-align: left;
        margin-bottom: auto;
        font-weight: 600;
        line-height: 1;

        @include lg {
          font-size: .75rem;
        }
      }
      &__img {
        margin-top: $gap;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &__caption {
    text-align: left;
    color: $light;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.5em;

    @include lg {
      text-align: center;
    }

    p {
      margin-bottom: $gap;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}