$header-bgc:rgb(58, 32, 6);
@mixin nav-desktop  { 
    @include lg { 
        @content 
    };  
}
@mixin nav-mobile  { 
    @media (max-width:$lg) { 
        @content 
    };  
}

.scroll-hidden{
    @include nav-mobile{
        overflow: hidden;
    }
}
.header {
    z-index: 5;
    max-width: 100%;
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: $header-bgc;
    transition: 0.3s;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.253); 
    &__content {
        flex-wrap: wrap;  
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
    &__logo {
        width: 50px;
        img {
            object-fit: contain;
            width: 100%;
            height: auto;
        } 
    } 
    &__bottom{ 
        position: absolute; 
        display: flex;
        justify-content: center;
         left: 0;
         right: 0;
        bottom: -80px;
        pointer-events: none;
        opacity: 0;
        transition: 0; 
    }
    &__social{
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        min-width: 250px;
        justify-content: space-around;
    }
}
    .nav-open{
        @include nav-mobile{
            position: fixed;
            animation: 0.2s openHeader   forwards linear ;
    
            .header{ 
                &__top{
                    width: 100%;
                    margin-bottom: 30px;
                }
                &__bottom{
                    bottom:30px;
                    opacity:1;
                    pointer-events: all;
                    transition:  0.4s;
                    transition-delay: 0.4s;
                }
            }  
        } 
    } 
@keyframes openHeader {
    0%{
       bottom:calc(100% - 120px);
    }
  
    100%{
        bottom:0;
    }
}

@import'./nav';