$nav-btn-color:#c72222;
$nav-bgc:rgba(0, 0, 0, 0.322);
$nav-hover:rgb(170, 81, 81);



.nav {
    color: white;
    width: 100%;
    font-family: $font-title;
    font-weight: 700;

    @include nav-desktop {
        width: auto;
        display: flex;
        justify-self: center;
    }

    &-menu__wrap {
        text-align: center;
        max-height: 0;
        opacity: 0;
        pointer-events: none;
        transition: 0.4s;
        padding: 0;
        margin: 0;
        overflow: hidden;
        @include nav-desktop {
            display: flex;
            opacity: 1;
            align-items: center;
            pointer-events: all;
            max-height: 100%;
            overflow: visible;
            &>li{margin-left: 20px;}
        }
    }

    ul{
        list-style: none;
    }

    a{
        color: $light;
        text-decoration: none;
        display: block;
        margin: 0 auto 15px;
        &:hover{
            text-decoration: underline;
        }
        @include nav-desktop{
            margin-bottom: 0;
        }
    }
    .sub-menu{
        padding: 0;
        @include nav-desktop{
            display: none;
            position: absolute;
            z-index: 2;
            top: 100%;
            right: 0;
            padding: 20px 10px 10px;
            min-width: 150px;
            transition: .3s linear;
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.2);
            .menu-item{
                text-shadow: 0 0 7px #8c5dfb;
            }
        }
    }
    .menu-item{
        font-size: 1rem;
        line-height: 1.5rem;
        position: relative;
        .menu-item{
            padding-bottom: 0;
        }
        @include nav-desktop{
            &-has-children{
                display: inline-flex;
                align-items: center;
                &:after{
                    content: '';
                    display: inline-block;
                    width: 12px;
                    height: 7px;
                    background: url("data:image/svg+xml,%3Csvg width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 6L0.803847 0.75L11.1962 0.750001L6 6Z' fill='white'/%3E%3C/svg%3E%0A");
                    background-repeat: no-repeat;
                    background-size: 100%;
                    margin-left: 5px;
                }
            }
            .menu-item{
                padding-bottom: 10px;
            }
        }
        
    }
    @include nav-desktop{
        .menu-item:hover{
            .sub-menu{
                display: block;
            }
        }
    }

    &__btn {
        background-color: transparent;
        border: none;
        width: 50px; 
        cursor: pointer;
        height: 50px;
        z-index: 10; 
        padding: 10px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;

        @include nav-desktop {
            display: none;
        }

        &__row {
            transition: 0.2s;
            background-color: $light;
            height: 3px;
            width: 100%;
            border-radius: 2px;
        }

        &__row+&__row {
            margin-top: 7px;
        }
    }
}

.nav-open {
    @include nav-mobile {
        .nav {
            width: 100%;

            &-menu__wrap {
                height: auto;
                opacity: 1;
                pointer-events: all;
                width: 100%;
                z-index: 10;

                max-height: 100vh;
            }

            .menu-item {
                transform: none;
            }

            &__btn {

                &__row {
                    margin: 0 !important;
                }

                &__row:nth-child(1) {
                    transform: translateY(100%) rotate(-45deg);
                }

                &__row:nth-child(2) {

                    opacity: 0;
                    width: 0;
                }

                &__row:nth-child(3) {
                    transform: translateY(-100%) rotate(45deg);
                }
            }
        }
    }
}